body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
}

.Appads {
  padding: 20px;
  color: #eee;
}
.h1{
  color: #eee;
}
/* Navbar */
.navbar {
  width: 100%;
  background-color: #6392ff;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.navbar-logo-img {
  list-style-type: none;
  height: 8vmin;
  margin-right: 1600px;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-link {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.nav-link {
  margin-left: 15px;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.navbar-link:hover {
  color: #2d53fc;
  transition: 0.3s;
}

/* Content */

h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 400px 0 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin: 15px 0;
}

.card-grid {
  display: grid;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr); 
}

.card {
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  background-color: #fff;
  border-radius: 15px;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.front {
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

h2 {
  color: #28a745;
  font-size: 1.8rem;
  margin-top: 20px;
}
.div{
  margin-top: -100px;
}

/* For large screens: 3 cards horizontally and 6 vertically */
@media (max-width: 600px) {
  .card {
    width: 100px; /* Smaller card width */
    height: 125px; /* Smaller card height */
  }

  .h1 {
    font-size: 1.5rem; 
    margin-top: 300px;
  }
  .card-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr); 
  }
}
/* For large screens: 6 cards horizontally and 3 vertically */
@media (min-width: 601px) {
  .card {
    width: 200px; /* Larger card width */
    height: 250px; /* Larger card height */
  }

  h1 {
    font-size: 2.5rem; /* Larger font for larger screens */
  }
}


