.navbar {
  width: 100%;
  background: #1f3c7e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
  height: 100px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 70px;
  width: auto;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; 
  visibility: hidden;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background: #244797;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.navbar-links.open {
  visibility: visible;
  display: flex;
}

.navbar-link {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
} 

.menu-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.rotate-icon {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

