/* Navbar Base Styles */
.navbar {
  width: 100%;
  background: #1f3c7e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 100px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 70px;
  width: auto;
}

.menu-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: auto;
  position: relative;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  visibility: hidden;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background: #244797;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.navbar-links.open {
  visibility: visible;
  display: flex;
}

.navbar-link {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.rotate-icon {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

/* Responsiveness */

/* Phones (max-width: 768px) */
@media (max-width: 768px) {
  .menu-toggle-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

/* Large Laptops and Small Desktops (770px - 1740px) */
@media (min-width: 769px) and (max-width: 1740px) {
  .navbar {
    height: 110px;
    padding: 15px 30px;
  }

  .menu-toggle-btn {
    font-size: 35px;
    margin-bottom: auto;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }

  .navbar-links {
    font-size: 20px;
    top: 110px;
  }

  .navbar-logo-img {
    height: 80px;
  }
}

/* TVs and Large Screens (min-width: 1741px) */
@media (min-width: 1741px) {
  .navbar {
    height: 120px;
    padding: 20px 40px;
  }

  .menu-toggle-btn {
    font-size: 40px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }

  .navbar-links {
    font-size: 22px;
    padding: 30px 0;
  }

  .navbar-logo-img {
    height: 90px;
  }
}
