.div {
  background: #427cff;
  width: 100%;
  height: fixed;
  font-size: 30px;
  color: #e0f7fa;
}
.answerButton {
  display: flex;
  cursor: pointer;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #06b3ff;
  color: #e0f7fa;
  font-weight: 700;
  font-size: 20px;
  transition: 0.6s;
}

.answerButton:hover {
  background-color: #2f67e7;
  transition: 0.6s;
}
.restartButton {
  background-color: #06b3ff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  transition: 0.3s;
}

.restartButton:hover {
  background-color: #2f67e7;
  transition: 0.3s;
}


