.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #afc7ff;
  width: 100%;
  min-height: 100%;
  color: white;
}
/* Navbar */
.navbar {
  width: 100%;
  background-color: #6392ff;
  display: flex;
  justify-content: space-between;  /* This makes space between logo and links */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* Logo styling */
.navbar-logo-img {
  height: 40px;
  width: auto;
  margin-left: 20px;  /* Adding space to the left */
}

/* Links container */
.navbar-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;  /* Space between the navbar links */
}

/* Individual navbar link */
.navbar-link {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect on links */
.navbar-link:hover {
  color: #2d53fc;
}

.navbar-links li {
  display: inline-block;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;  /* Stack navbar items */
    align-items: center;
    padding: 10px;
  }

  .navbar-logo-img {
    height: 35px;  /* Adjust logo size for mobile */
    margin: 10px 0;  /* Space above and below the logo */
  }

  .navbar-links {
    flex-direction: column;  /* Stack the links vertically */
    align-items: center;
    gap: 15px;  /* Space between links */
  }

  .navbar-link {
    font-size: 16px;  /* Adjust link font size for mobile */
  }
}


/* Hero section */
.herosection {
  color: #fff;
  display: flex;
  padding: 20px;
  align-items: center;
  height: 700px;
  margin-bottom: 200px;
  padding-top: 150px;
  width: 100%;
}

.heroh2 {
  color: #fff;
  margin: 100px;
}

.brainbulb {
  height: 500px;
  width: 700px;
  border-radius: 10px;
  margin-right: 100px;
}

@media (max-width: 800px) {
  .herosection {
    flex-direction: column;
    height: auto;
    padding-top: 50px; 
  }

  .brainbulb {
    height: 300px;
    width: 400px;
    margin: 25px;
  }

  .heroh2 {
    margin: auto;
    font-size: 18px;
  }
}