.App {
  display: flex; /*To centerize everything*/
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 100vh; /*Reach the whole viewport*/
}

.App-header {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background: #427cff;
  width: 100%; /*Reach the whole viewport*/
  min-height: 100%;
}

.App-logo {
  height: 40vmin; 
  pointer-events: none;
  animation: Brainlogo infinite 10s linear; 
}

@keyframes Brainlogo {
  from {
    transform: rotate(0deg);/*Starting position */
  }
  to {
    transform: rotate(360deg);/* Rotate until the starting position is reached again*/
  }
}

.title {
  color: rgb(128, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.t404 {
  font-size: 200px;
  color: rgb(128, 0, 0);
  margin-bottom: -30px;
  margin-top: -30px;
}

.main {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(73, 0, 0));
  width: 100vw; /*Reaching the whole viewport horizontally and vertically*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
