.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #afc7ff;
  width: 100%;
  min-height: 100%;
  color: white;
}
/* Navbar */
.navbar {
  width: 100%;
  background-color: #6392ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
}

/* Logo styling */
.navbar-logo-img {
  height: 40px;
  width: auto; 
  margin-left: -80px;
}

/* Links container */
.navbar-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;  /* Space between the navbar links */
}

/* navbar link */
.navbar-link {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect on links */
.navbar-link:hover {
  color: #2d53fc;
}

.navbar-links li {
  display: inline-block;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;  
    align-items: center;
    padding: 10px;
  }

  .navbar-logo-img {
    height: 35px; 
    margin: 10px 0;  
  }

  .navbar-links {
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
  }

  .navbar-link {
    font-size: 16px; 
  }
}


/* Hero section */
.herosection {
  color: #fff;
  display: flex;
  padding: 20px;
  align-items: center;
  height: 700px;
  margin-bottom: 200px;
  padding-top: 150px;
  width: 100%;
}

.heroh2 {
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  margin: 40px;
}

.brainbulb {
  height: 500px;
  width: 700px;
  border-radius: 10px;
  margin-right: 100px;
}


@media (max-width: 800px) {
  .herosection {
    flex-direction: column;
    height: auto;
    padding-top: 50px; 
  }

  .brainbulb {
    height: 300px;
    width: 400px;
    margin: 25px;
  }

  .heroh2 {
    margin: auto;
    font-size: 18px;
  }
}
.t404{
  font-size: 150px;
  margin-top: -10px;
}
.title{
  font-size: 40px;
  margin-top: -5px;
}
.main{
  background: linear-gradient(to bottom, #3045ff, #4eb4fc);
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}